Django==5.1.1
selenium==4.24.0
whitenoise==6.7.0
pyyaml
Pillow==10.4.0
pywebpush==2.0.0
psycopg2-binary==2.9.9
django-redis==5.4.0
gunicorn==23.0.0
weasyprint==62.3
fpdf2==2.7.9
pytz==2024.2
qrcode==7.4.2
